#App {
    --color-accent: #2563eb;
    --color-accent-hover: #1d4ed8;
    --color-border: #c9d5e4;
    --color-button-bg: #1b77ea;
    --color-button-bg-hover: #1d4ed8;
    --color-button-text: #ffffff;

    --color-bg: #f4f7fb;
    --color-surface: #ffffff;
    --color-surface-2: #d1d7e1;
    --color-surface-3: #d8e3f0;
    --color-text: #162033;
    --color-text-muted: #5f6d80;

    --color-inverse-text: #ffffff;
    --color-sidebar: #123a5a;
    --color-sidebar-hover: #1d5f87;
    --color-header: #e8eef6;
    --color-footer: #123a5a;
    
    --color-social-icon: black;

    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100svh;
}

#App.dark-theme {
    --color-accent: #38bdf8;
    --color-accent-hover: #0ea5e9;
    
    --color-bg: #0f172a;
    --color-border: rgb(255 255 255 / 0.7);
    --color-button-bg: #38bdf8;
    --color-button-bg-hover: #0ea5e9;
    --color-button-text: #06121f;
    
    --color-surface: #172033;
    --color-surface-2: #161718;
    --color-surface-3: #263449;
    --color-social-icon: white;
    
    --color-sidebar: #0b1220;
    --color-sidebar-hover: #164e63;
    
    --color-text: #f8fafc;
    --color-text-muted: #cbd5e1;
    
    --color-inverse-text: #f8fafc;

    --color-header: #111827;
    --color-footer: #0b1220;
   

    background-color: var(--color-bg);
    color: var(--color-text);
}
.navbar-container{
    text-align: center;
    padding: 1rem;
    .navbar-items{
        padding: 3rem;

    }
}
.PageContainer {
    --sidebar-width: min(100%, 30rem);

    display: flex;
    background:
            linear-gradient(
                    to right,
                    var(--color-sidebar) 0 var(--sidebar-width),
                    var(--color-bg) var(--sidebar-width) 100%
            
            );
    color: var(--color-text);
}

@media (max-width: 770px) {
    .PageContainer{
        background:
                linear-gradient(
                        to right,
                        var(--color-sidebar)  var(--sidebar-width),
                        var(--color-bg) var(--sidebar-width) 100%

                );
    }
}
